<div class="dashboard">
  <app-toolbar>
    <app-search-bar searchBar></app-search-bar>
  </app-toolbar>
  <div class="dashboard__main-section">
    <app-paginator
      [page]="currentPage"
      [perPage]="itemsPerPage"
      [totalItems]="itemsTotal"
      [viewMode]="currentViewMode"
      (pageChange)="onPageChange($event)"
      (perPageChange)="onPerPageChange($event)"
      (viewModeChange)="onViewModeChange($event)"
    >
    </app-paginator>

    <div
      class="dashboard__main-section-grid"
      [ngClass]="{
        'dashboard__main-section-grid--list': currentViewMode === 'list'
      }"
    >
      @for (hero of heroes; track hero.id) { @if (currentViewMode === 'grid') {
      <app-hero-card [hero]="hero"></app-hero-card>
      }@else {

      <app-hero-card-list [hero]="hero"></app-hero-card-list>

      }}
    </div>
  </div>
</div>
