@import "../../../../assets/styles/vars.scss";

.dashboard {
  &__main-section {
    padding: $spacing-md;
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    &-grid {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: $spacing-sm;
      &--list {
        flex-direction: column;
        app-hero-card-list {
          width: 100%;
        }
      }
    }
  }
}
