<div class="paginator">
  <div class="paginator__view-mode-toggle">
    <button class="paginator__view-mode-toggle-button" (click)="toggleViewMode()">
      {{'VIEW_MODE' | translate}} {{ viewMode === 'grid' ? 'Grid' : 'List' }}
    </button>
  </div>

  <div class="paginator__pagination-controls">
    <button
      class="paginator__pagination-controls-button"
      [disabled]="page === 1"
      (click)="changePage(page - 1)"
    >
    {{'PREVIOUS' | translate}}
    </button>
    <span class="paginator__pagination-controls-text">
      {{'PAGE' | translate}} {{ page }} {{'OF' | translate}} {{ totalPages }}
    </span>
    <button
      class="paginator__pagination-controls-button"
      [disabled]="page === totalPages"
      (click)="changePage(page + 1)"
    >
    {{'NEXT' | translate}}
    </button>
  </div>

  <div class="paginator__items-per-page">
    <label class="paginator__items-per-page-label" for="perPage">
      {{'ITEMS_PER_PAGE' | translate}}:
    </label>
    <select
      id="perPage"
      class="paginator__items-per-page-select"
      [value]="perPage"
      (change)="changePerPage($event)"
    >
      <option *ngFor="let option of [5, 10, 20, 50]" [value]="option">
        {{ option }}
      </option>
    </select>
  </div>
</div>