<div class="hero-details-modal">
  <div class="hero-details-modal__title" mat-dialog-title>
    {{ hero.name }}
  </div>
  <mat-dialog-content>
    <div class="embla" #track>
      <div class="embla__container">
        @for (heroImg of hero.images; track $index) {
        <div class="embla__slide">
          <img class="embla__slide-img" [src]="heroImg" [alt]="hero.name" />
        </div>
        }
      </div>
    </div>
    <p>
      {{ hero.bio }}
    </p>
  </mat-dialog-content>
  <mat-dialog-actions class="hero-details-modal__actions">
    <button
      class="hero-details-modal__actions-button hero-details-modal__actions-button--secondary"
      mat-dialog-close
      cdkFocusInitial
    >
      Cancel
    </button>
    <button
      class="hero-details-modal__actions-button hero-details-modal__actions-button--primary"
      (click)="onEdit()"
      [mat-dialog-close]="true"
    >
      Edit
    </button>
    <button
      class="hero-details-modal__actions-button hero-details-modal__actions-button--danger"
      [mat-dialog-close]="true"
      (click)="onDelete()"
    >
      Delete
    </button>
  </mat-dialog-actions>
</div>
