@import "../../../../assets/styles/vars.scss";
.hero-details-modal {
  &__title {
    text-align: center;
  }
  &__actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    &-button {
      min-width: 130px;
      padding: $spacing-sm $spacing-md;
      outline: none;
      border-radius: 2px;
      font-size: $font-size-md;
      font-weight: bold;
      border: none;
      cursor: pointer;
      transform: skew(-20deg);

      &--primary {
        color: $light-color;
        background-color: $primary-color;
      }
      &--danger {
        color: $light-color;
        background-color: $danger-color;
      }
      &--secondary {
        color: $danger-color;
        background-color: $light-color;
        border: 2px solid $danger-color;
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }

  // EMBLA STYLING
  .embla {
    overflow: hidden;
    margin-bottom: $spacing-sm;
  }

  .embla__container {
    display: flex;
  }

  .embla__slide {
    position: relative;
    flex: 0 0 100%;
    margin: 0 $spacing-sm;
    &-img {
      width: 100%;
      height: 300px;
      overflow: hidden;
      object-fit: contain;
      object-position: center;
    }
  }
}
