@import "../../../../assets/styles/vars.scss";

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $primary-color;
  padding: $spacing-md;

  &__logo {
    img {
      width: 80px;
      height: 80px;
      object-fit: contain;
      object-position: center;
    }
  }
  &__actions {
    display: flex;
    gap: $spacing-md;
    &-button {
      width: 130px;
      padding: 10px 20px;
      outline: none;
      border-radius: 2px;
      font-size: $font-size-md;
      font-weight: bold;
      border: none;
      cursor: pointer;
      transform: skew(-20deg);
      color: $light-color;
      background-color: $accent-color;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__language-selector {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &-icon {
      font-size: $font-size-md;
      color: $light-color;
    }

    &-dropdown {
      padding: 0.25rem 0.5rem;
      border: 1px solid $light-color;
      border-radius: 4px;
    }
  }
}
