@import '../../../../assets/styles/vars.scss';

.confirmation-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacing-lg;
  background-color: $light-color;
  border-radius: 8px;
  box-shadow: $box-shadow-md;
  text-align: center;
  color: $dark-color;
  &__message {
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    margin-bottom: $spacing-lg;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &-button {
      padding: $spacing-sm $spacing-lg;
      border: none;
      transform: skew(-20deg);
      font-size: $font-size-md;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &--cancel {
        background-color: $light-color;
        color: $danger-color;
        border: 2px solid $danger-color;
      }

      &--confirm {
        background-color: $danger-color;
        color: $light-color;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
