<div
  class="hero-card"
  (mouseenter)="isHovered = true"
  (mouseleave)="isHovered = false"
>
  <div class="hero-card__image">
    <img
      [src]="hero.images[0]"
      [alt]="hero.name"
      [ngStyle]="{ transform: isHovered ? 'scale(1.2)' : 'scale(1)' }"
    />
  </div>
  <div class="hero-card__info">
    <div
      class="hero-card__info-shadow-background"
      [ngStyle]="{ height: isHovered ? '100%' : '5px' }"
    ></div>
    <div class="hero-card__info-name">{{ hero.name }}</div>
    <div class="hero-card__info-biography">
      {{ hero.bio }}
    </div>
  </div>
</div>
