<div class="dynamic-form">
  <div class="dynamic-form__title">{{ title }}</div>
  <form
    class="dynamic-form__formulary"
    [formGroup]="heroForm"
    (ngSubmit)="onSubmit()"
  >
    <!-- Name Field -->

    <div class="dynamic-form__formulary-field">
      <label class="dynamic-form__formulary-field-label" for="Name">{{ "NAME" | translate }}</label>
      <input
        id="Name"
        class="dynamic-form__formulary-field-text"
        formControlName="name"
        placeholder="{{'ENTER_HERO_NAME' | translate}}"
        type="text"
        Uppercase
      />
      <div
        *ngIf="heroForm.get('name')?.invalid && heroForm.get('name')?.touched"
      >
        <small *ngIf="heroForm.get('name')?.errors?.['required']">
          {{ "NAME_REQUIRED" | translate }}
        </small>
      </div>
    </div>

    <!-- Bio Field -->
    <div class="dynamic-form__formulary-field">
      <label class="dynamic-form__formulary-field-label" for="bio">{{ "BIO" | translate }}</label>
      <textarea
        id="bio"
        class="dynamic-form__formulary-field-textarea"
        formControlName="bio"
        placeholder="{{'ENTER_HERO_BIO' | translate}}"
      ></textarea>
      <div *ngIf="heroForm.get('bio')?.invalid && heroForm.get('bio')?.touched">
        <small *ngIf="heroForm.get('bio')?.errors?.['required']">
          {{ "BIO_REQUIRED" | translate }}
        </small>
      </div>
    </div>

    <!-- Pictures Field -->
    <div formArrayName="images" class="dynamic-form__formulary-field">
      <label class="dynamic-form__formulary-field-label" for="pictures"
        >{{ "PICTURES" | translate }}</label
      >
      @for (picture of pictures.controls; track $index) {
      <div class="dynamic-form__formulary-field-pictures">
        <input
          type="text"
          class="dynamic-form__formulary-field-pictures-input"
          [formControlName]="$index"
          placeholder="Enter picture URL"
        />
        <img
          [src]="picture.value"
          class="dynamic-form__formulary-field-pictures-thumbnail"
          alt="preview thumbnail"
          *ngIf="picture.value"
        />
        <button
          class="dynamic-form__button dynamic-form__button--remove"
          type="button"
          (click)="removePicture($index)"
        >
        {{ "REMOVE" | translate }}
        </button>
      </div>
      <!-- Error Message for Picture Field -->
      @if (picture.invalid && picture.touched) {
      <small
        class="dynamic-form__formulary-field-pictures-error"
        *ngIf="picture.errors?.['required']"
      >
      {{ "PICTURE_REQUIRED" | translate }}
      </small>
      } }
    </div>
    @if (pictures.controls.length < 5) {
    <button
      class="dynamic-form__button dynamic-form__button--add"
      type="button"
      (click)="addPicture()"
    >
    {{ "ADD_PICTURE" | translate }}
    </button>
    }

    <button
      class="dynamic-form__button dynamic-form__button--confirm"
      type="submit"
      [disabled]="heroForm.invalid"
    >
    {{ "SUBMIT" | translate }}
    </button>
  </form>
</div>
