@import "../../../../assets/styles/vars.scss";

.dynamic-form {
  padding: $font-size-md;

  &__title {
    text-align: center;
    margin-bottom: $font-size-md;
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
  }
  &__formulary {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;

    &-field {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: $spacing-sm;
      &-label {
        font-weight: bold;
        margin-bottom: $spacing-sm;
        color: $text-color;
      }
      &-text,
      &-textarea {
        width: 100%;
        padding: $spacing-sm;
        border: 1px solid $light-color;
        border-radius: 4px;
      }
      &-text {
        width: 100%;
        border-radius: 4px;
        box-sizing: border-box;
      }
      &-textarea {
        resize: vertical;
        max-height: 100px;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        border-radius: 4px;
        box-sizing: border-box;
      }
      &-pictures {
        display: flex;
        gap: $spacing-sm;
        margin-bottom: 5px;
        height: 100px;
        &-input {
          width: 100%;
          padding: $spacing-sm;
          border: 1px solid $light-color;
          border-radius: 4px;
        }
        &-thumbnail {
          height: 100%;
          max-width: 100px;
          min-width: 100px;
          object-fit: cover;
          object-position: center;
          border: 1px solid $light-color;
          border-radius: 4px;
        }
        &-error {
          margin-top: $spacing-xs;
          margin-bottom: $spacing-sm;
        }
      }
    }
  }

  &__button {
    padding: $spacing-sm $spacing-md;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &--remove {
      border: 2px solid $danger-color;
      color: $danger-color;
      background-color: transparent;
    }

    &--add {
      border: 2px solid $primary-color;
      color: $primary-color;
      background-color: transparent;
    }

    &--confirm {
      color: $light-color;
      background: $primary-color;
      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
        background: $dark-color;
      }
    }

    &:hover {
      opacity: 0.8;
    }
  }

  small {
    color: $danger-color;
    font-size: $font-size-xs;
  }
}
